<?xml version="1.0"?>
<!-- see http://www.phpunit.de/wiki/Documentation -->
<phpunit bootstrap="tests/bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="true">
    <testsuites>
        <testsuite name="FactoryTest">
            <file>tests/mazhuravlev/FileTransfer/FactoryTest.php</file>
        </testsuite>
        <testsuite name="FTPConnectionTest">
            <file>tests/mazhuravlev/FileTransfer/FTPConnectionTest.php</file>
        </testsuite>
        <testsuite name="SFTPConnectionTest">
            <file>tests/mazhuravlev/FileTransfer/SFTPConnectionTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>